.binary-tree ul {
    padding-left: 1.5em;
    position: relative;
}
.binary-tree ul:before {
    content: "";
    display: block;
    border-left: 1px solid #ccc;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.binary-tree li {
    line-height: 1.5em;
}
.binary-tree li:before {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc
}
